// Add your own custom styles here
* {
   scroll-behavior: smooth;
   scroll-padding-top: 10em;
}

strong {
   color: #24B0B9 !important;
}

a[href^=http] {
   color: #24B0B9 !important;

   & * {
      color: white;
   }
}

.table-of-content {
   & summary {
      background-color: #282c38 !important;
   }

   & nav {
      background-color: #323747 !important;
   }
}
